.wrapper {
  height: 290px;
  width: 350px;
  padding: 20px;
  background: var(--color-background_contrast);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper h2 {
  font-size: 27px;
  text-align: center;
  color: var(--color-title);
  margin-bottom: 20px;
}

.docs {
  display: flex;
  flex-direction: column;
}

.docs a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 20px;
  margin-top: 15px;
}
