.wrapper {
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: var(--color-title);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
